@model LiteCommerce.DomainModels.ProductAttributes
@{
    ViewBag.Title = "InputDetail";
}
   
<div class="box box-primary">
    <a href="~/product" class="btn btn-primary" style="float:right">Quay lại</a>
    <form role="form" action="~/product/inputdetail" method="post">
        <div class="box-body row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="hidden" name="AttributeID" value="@Model.AttributeID" />
                    <input type="hidden" name="ProductID" value="@Model.ProductID" />
                    <label for="exampleInputEmail1">Attribute Name</label>
                    <input name="AttributeName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Attribute Name" value="@Model.AttributeName">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Attribute Values</label>
                    <input name="AttributeValues" type="text" class="form-control" id="exampleInputEmail1" placeholder="Attribute Values" value="@Model.AttributeValues">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Display Order</label>
                    <input name="DisplayOrder" type="text" class="form-control" id="exampleInputEmail1" placeholder="DisplayOrder" value="@Model.DisplayOrder">
                </div>
            </div>


        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">
                Save <i class="fa fa-floppy-o"></i>
            </button>
            <a href="~/product" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>




