@model LiteCommerce.DomainModels.Account
@{
    ViewBag.Title = "User profile";
    
}
<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="~/Images/@Model.PhotoPath" alt="User profile picture">

                <h3 class="profile-username text-center">@Model.FirstName @Model.LastName</h3>
                <p class="text-center">@Model.Title</p>
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal"><b>Edit Profile</b></button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="exampleModalLabel">Update profile</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="form-horizontal" action="~/Account/UpdateProfile" method="post" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <input  type="hidden" name="EmployeeID" value="@Model.EmployeeID"/> 
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Photo</label>


                                        <div class="col-sm-4">
                                            <img src="~/Images/@Model.PhotoPath" width="100px" />
                                            <input type="file" name="uploadPhoto" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">First Name</label>

                                        <div class="col-sm-4">
                                            <input name="FirstName" type="text" class="form-control"  value="@Model.FirstName">
                                        </div>
                                        <label for="inputName" class="col-sm-2 control-label">Last Name</label>

                                        <div class="col-sm-4">
                                            <input name="LastName" type="text" class="form-control"  value="@Model.LastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">BirthDate</label>

                                        <div class="col-sm-10">
                                            <input name="BirthDate" type="text" class="form-control"  value="@string.Format("{0:MM/dd/yyyy}", Model.BirthDate)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                        <div class="col-sm-10">
                                            <input name="Email" type="email" class="form-control"  value="@Model.Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputExperience" class="col-sm-2 control-label">Address</label>

                                        <div class="col-sm-10">
                                            <textarea name="Address" class="form-control" >@Model.Address</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSkills" class="col-sm-2 control-label">City</label>

                                        <div class="col-sm-10">
                                            <input name="City" type="text" class="form-control"  value="@Model.Country">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSkills" class="col-sm-2 control-label">County</label>

                                        <div class="col-sm-10">
                                            <select class="form-control" name="Country">
                                                <option value="">Choose Country</option>
                                                @foreach (var item in SelectListHelper.ListOfCountries())
                                                {
                                                    if (item.CountryName == Model.Country)
                                                    {
                                                        <option value="@item.CountryName" selected>@item.CountryName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.CountryName">@item.CountryName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputSkills" class="col-sm-2 control-label">HomePhone</label>

                                        <div class="col-sm-10">
                                            <input name="HomePhone" type="text" class="form-control" value="@Model.HomePhone">
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        
    </div>
    <!-- /.col -->
    <div class="col-md-9 ">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> BirthDate</strong>

                <p class="text-muted">
                    @string.Format("{0:dd/MM/yyyy}", Model.BirthDate)
                </p>
                <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
                <p class="text-muted">
                    @Model.Address
                </p>
                <p class="text-muted">
                    @Model.City - @Model.Country
                </p>

                <strong><i class="fa fa-envelope-o margin-r-5"></i> Email</strong>
                <p class="text-muted">
                    @Model.Email
                </p>
                <strong><i class="fa fa-phone margin-r-5"></i> HomePhone</strong>
                <p class="text-muted">
                    @Model.HomePhone
                </p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
    <!-- /.col -->
</div>

